image: condaforge/miniforge3:25.9.1-0

stages:          # List of stages for jobs, and their order of execution
  - deploy

pages:
  stage: deploy
  before_script:
    - conda install conda-lock make -y
    - conda-lock install --name stglib-docs doc/environment.yml
    - conda init
    - source ~/.bashrc
    - source activate base
    - conda activate stglib-docs
    - conda info
    - conda list
  script:
    - cd doc && make html
  after_script:
    - mv doc/_build/html/ ./public/
  artifacts:
    paths:
    - public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH

build-job:
  stage: deploy
  before_script:
    - conda install conda-lock git-lfs -y
    - git lfs install
    - git lfs checkout
    - conda-lock install --name stglib conda-lock.yml
    - conda init
    - source ~/.bashrc
    - source activate base
    - conda activate stglib
    - conda info
    - conda list
    - pip install -e . --no-deps
  script:
    - pytest
