TB_1119_17H103145_091918_080000.csv filter=lfs diff=lfs merge=lfs -text
bel5_19D105366_012221_120000_utf8.csv filter=lfs diff=lfs merge=lfs -text
1119Aexo_config.yaml filter=lfs diff=lfs merge=lfs -text
config_bel5C.yaml filter=lfs diff=lfs merge=lfs -text
glob_att1119a.txt filter=lfs diff=lfs merge=lfs -text
glob_attbel5C.txt filter=lfs diff=lfs merge=lfs -text
TB111803.hdr filter=lfs diff=lfs merge=lfs -text
TB111803.v1 filter=lfs diff=lfs merge=lfs -text
TB111803.v2 filter=lfs diff=lfs merge=lfs -text
TB111803.a1 filter=lfs diff=lfs merge=lfs -text
TB111803.a2 filter=lfs diff=lfs merge=lfs -text
TB111803.ssl filter=lfs diff=lfs merge=lfs -text
TB111803.v3 filter=lfs diff=lfs merge=lfs -text
TB111803.a3 filter=lfs diff=lfs merge=lfs -text
TB111803.sen filter=lfs diff=lfs merge=lfs -text
glob_att1118a_b.txt filter=lfs diff=lfs merge=lfs -text
aqd1118A_config.yaml filter=lfs diff=lfs merge=lfs -text
Dunex_2021-09-13.csv filter=lfs diff=lfs merge=lfs -text
glob_att1149.txt filter=lfs diff=lfs merge=lfs -text
wxt1149_config.yaml filter=lfs diff=lfs merge=lfs -text
config_1097C.yaml filter=lfs diff=lfs merge=lfs -text
glob_att1097C.txt filter=lfs diff=lfs merge=lfs -text
1097CIQ_20171214_125948.mat filter=lfs diff=lfs merge=lfs -text
11032Decn_config.yaml filter=lfs diff=lfs merge=lfs -text
1103D_ntu507.log filter=lfs diff=lfs merge=lfs -text
glob_att1103D.txt filter=lfs diff=lfs merge=lfs -text
051001_CSF20SC201.zip filter=lfs diff=lfs merge=lfs -text
1123Aea_example_config.yaml filter=lfs diff=lfs merge=lfs -text
ea400_example_data.log filter=lfs diff=lfs merge=lfs -text
glob_att1123A_msl.txt filter=lfs diff=lfs merge=lfs -text
glob_att1137.txt filter=lfs diff=lfs merge=lfs -text
1137aa_config.yaml filter=lfs diff=lfs merge=lfs -text
aa400_0074_orange_raw_trim.log filter=lfs diff=lfs merge=lfs -text
aa400_0074_orange_raw_trim_utf8.log filter=lfs diff=lfs merge=lfs -text
stglib/tests/data/11211Aaqd-a.nc.cfcheck.txt filter=lfs diff=lfs merge=lfs -text
stglib/tests/data/11211Aaqd-a.nc filter=lfs diff=lfs merge=lfs -text
stglib/tests/data/11211Aaqd-raw.cdf filter=lfs diff=lfs merge=lfs -text
stglib/tests/data/glob_att1121a_msl_aqd.txt filter=lfs diff=lfs merge=lfs -text
stglib/tests/data/aqd1121A_config.yaml filter=lfs diff=lfs merge=lfs -text
stglib/tests/data/1121AQ04.v3 filter=lfs diff=lfs merge=lfs -text
stglib/tests/data/1121AQ04.v2 filter=lfs diff=lfs merge=lfs -text
stglib/tests/data/1121AQ04.v1 filter=lfs diff=lfs merge=lfs -text
stglib/tests/data/1121AQ04.sen filter=lfs diff=lfs merge=lfs -text
stglib/tests/data/1121AQ04.hdr filter=lfs diff=lfs merge=lfs -text
stglib/tests/data/1121AQ04.a3 filter=lfs diff=lfs merge=lfs -text
stglib/tests/data/1121AQ04.a2 filter=lfs diff=lfs merge=lfs -text
stglib/tests/data/1121AQ04.a1 filter=lfs diff=lfs merge=lfs -text
KorEXO_Measurement_File_Export_081322_170216_rev.csv filter=lfs diff=lfs merge=lfs -text
glob_att1151b.txt filter=lfs diff=lfs merge=lfs -text
1151Bexo_config.yaml filter=lfs diff=lfs merge=lfs -text
glob_att1123A_msl_EPIC.txt filter=lfs diff=lfs merge=lfs -text
BEL503.a1 filter=lfs diff=lfs merge=lfs -text
BEL503.a2 filter=lfs diff=lfs merge=lfs -text
BEL503.hdr filter=lfs diff=lfs merge=lfs -text
BEL503.ssl filter=lfs diff=lfs merge=lfs -text
BEL503.a3 filter=lfs diff=lfs merge=lfs -text
BEL503.v3 filter=lfs diff=lfs merge=lfs -text
BEL503.v2 filter=lfs diff=lfs merge=lfs -text
BEL503.sen filter=lfs diff=lfs merge=lfs -text
BEL503.v1 filter=lfs diff=lfs merge=lfs -text
NBMCCE02.a2 filter=lfs diff=lfs merge=lfs -text
NBMCCE02.hdr filter=lfs diff=lfs merge=lfs -text
NBMCCE02.v2 filter=lfs diff=lfs merge=lfs -text
NBMCCE02.a3 filter=lfs diff=lfs merge=lfs -text
NBMCCE02.ssl filter=lfs diff=lfs merge=lfs -text
NBMCCE02.v3 filter=lfs diff=lfs merge=lfs -text
NBMCCE02.v1 filter=lfs diff=lfs merge=lfs -text
NBMCCE02.a1 filter=lfs diff=lfs merge=lfs -text
NBMCCE02.sen filter=lfs diff=lfs merge=lfs -text
cdf/** filter=lfs diff=lfs merge=lfs -text
mat/** filter=lfs diff=lfs merge=lfs -text
mat2/** filter=lfs diff=lfs merge=lfs -text
TDHAQD02.a3 filter=lfs diff=lfs merge=lfs -text
TDHAQD02.hr2 filter=lfs diff=lfs merge=lfs -text
TDHAQD02.sen filter=lfs diff=lfs merge=lfs -text
TDHAQD02.ssl filter=lfs diff=lfs merge=lfs -text
TDHAQD02.a1 filter=lfs diff=lfs merge=lfs -text
TDHAQD02.hdr filter=lfs diff=lfs merge=lfs -text
TDHAQD02.v1 filter=lfs diff=lfs merge=lfs -text
TDHAQD02.v2 filter=lfs diff=lfs merge=lfs -text
TDHAQD02.v3 filter=lfs diff=lfs merge=lfs -text
TDHAQD02.a2 filter=lfs diff=lfs merge=lfs -text
config_CHC14TDH.yaml filter=lfs diff=lfs merge=lfs -text
gatts_CHC14TDH.txt filter=lfs diff=lfs merge=lfs -text
config_nbm22cce01.yaml filter=lfs diff=lfs merge=lfs -text
nbm22cce01_gatts.txt filter=lfs diff=lfs merge=lfs -text
atmpres_NBM22CCE.cdf filter=lfs diff=lfs merge=lfs -text
bel3_13H102609_012221_120000_utf8.csv filter=lfs diff=lfs merge=lfs -text
config_bel3C.yaml filter=lfs diff=lfs merge=lfs -text
glob_attbel3C.txt filter=lfs diff=lfs merge=lfs -text
atmpres_BEL19B3C03exo.cdf filter=lfs diff=lfs merge=lfs -text
