TB_1119_17H103145_091918_080000.csv filter=lfs diff=lfs merge=lfs -text
bel5_19D105366_012221_120000_utf8.csv filter=lfs diff=lfs merge=lfs -text
1119Aexo_config.yaml filter=lfs diff=lfs merge=lfs -text
config_bel5C.yaml filter=lfs diff=lfs merge=lfs -text
glob_att1119a.txt filter=lfs diff=lfs merge=lfs -text
glob_attbel5C.txt filter=lfs diff=lfs merge=lfs -text
TB111803.hdr filter=lfs diff=lfs merge=lfs -text
TB111803.v1 filter=lfs diff=lfs merge=lfs -text
TB111803.v2 filter=lfs diff=lfs merge=lfs -text
TB111803.a1 filter=lfs diff=lfs merge=lfs -text
TB111803.a2 filter=lfs diff=lfs merge=lfs -text
TB111803.ssl filter=lfs diff=lfs merge=lfs -text
TB111803.v3 filter=lfs diff=lfs merge=lfs -text
TB111803.a3 filter=lfs diff=lfs merge=lfs -text
TB111803.sen filter=lfs diff=lfs merge=lfs -text
glob_att1118a_b.txt filter=lfs diff=lfs merge=lfs -text
aqd1118A_config.yaml filter=lfs diff=lfs merge=lfs -text
